<h1>Movie Information</h1>

<div class="top_middle">
	<h1><%= @title %></h1>
	<h3><%= @year %></h3>
</div>

<img class="poster_img" src="<%= @poster %>">

<div class="information">
	<%= @released %>
	<%= @runtime %>
	<%= @actors %>
	<%= @ratings %>
</div>



