<link rel='stylesheet' href='/stylesheets/index.css'>

<h1>Give your money away</h1>
<p>symbol : <%= @stock.symbol %></p>
<p>price : <%= @stock.l %></p>
<p>op : <%= @stock.op %></p>
<p>hi : <%= @stock.hi %></p>
<p>lo : <%= @stock.lo %></p>
<p>vo : <%= @stock.vo %></p>
<p>avvo : <%= @stock.avvo %></p>
<p>hi52 : <%= @stock.hi52 %></p>
<p>lo52 : <%= @stock.lo52 %></p>
<p>shares : <%= @stock.shares %></p>
<p>exchange : <%= @stock.exchange %></p>
<p>lo52 : <%= @stock.lo52 %></p>